<div>
  <!--  -->

  <div
    style="
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', 'Noto Sans KR',
        'Apple SD Gothic Neo', 'Malgun Gothic', 'Nanum Gothic', sans-serif;
      margin: 0;
      padding: 64px 22px 32px;
      background: #fff top right no-repeat;
      color: #3d3d3d;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.015em;
      max-width: 620px;
      margin: 0 auto;
    "
  >
    <div style="padding: 0 0 40px">
      <div>
        <div
          style="
            font-size: 24px;
            line-height: 36px;
            letter-spacing: -0.025em;
            margin: 0 0 40px;
            padding: 0 0 32px;
            border-bottom: 1px solid #e6e6e7;
          "
        >
          <a
            style="display: block"
            href="http://email.tumblbug.com/ls/click?upn=u001.oRvOXENzh52SUFv4TGbV6PdhOITNoqh4HO-2FTOK-2BR9-2Bo-3DrHAU_JPZAUhqcxW2Cl9-2B9ZxnYuEGwyFEpLXqeveo3e5dk2WkH5q-2Fd-2FNpO-2FmJntiPpdI-2BhjsvX9sJHTnzytLhtvEMMNGEkNkjPGaoN9oHeHsEVLTF2zMnsMoov5p0dvcP-2Bc0Ei3lqwA-2F5A5NrBT-2FGAWBI-2B57chQQBuDdvHbltpY8WJJFx-2BXLVFcSY-2B42ESNAMkfzKOHVfcPfagYiLPrwIx56G9N7LcZso11RvqVpJ0dyyUFpvPW4ltXJMKLBAk9-2FIkPv6ghdzAMsCrIKC2RvgS60bFUaLP7kIvBYkJNjCFlkNqG2cezdYmwIxOCVBzJI2r3nuE7YmHtPhdWoUYeAaPlQYvLVp8Eo2Tx5lT-2BsgQej0WE3AaLAAAIn-2BtXq00XcnNI1-2FD"
            target="_blank"
            rel="noreferrer noopener"
          >
            <img
              src="https://steadio-asset.s3.ap-northeast-2.amazonaws.com/static/images/email-template/logo.png"
              alt="steadio"
              style="display: block; width: 143px; margin: 0; border: 0"
              loading="lazy"
            />
          </a>
        </div>

        <div style="padding: 0 32px">
          <p
            style="
              font-weight: 700;
              font-size: 24px;
              line-height: 34px;
              text-align: center;
              color: #1d1d1e;
              margin: 0 0 16px;
            "
          >
            비밀번호 재설정
          </p>
          <div style="margin: 0">
            <p
              style="
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                color: #333334;
              "
            >
              <strong><%= email %></strong>님 안녕하세요. PnJ입니다.<br />
              아래 버튼을 선택하여 비밀번호를 재설정해주세요.
            </p>
          </div>

          <div style="text-align: center; margin: 32px 0 0">
            <a
              href="<%= url %>"
              style="
                display: inline-block;
                text-decoration: none;
                border: 0;
                font-size: 14px;
                font-weight: 600;
                color: #ffffff;
                background: #7e69fe;
                border-radius: 20px;
              "
              rel="noreferrer noopener"
              target="_blank"
              >비밀번호 재설정 링크</a
            >
          </div>

          <p
            style="
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              text-align: center;
              color: #333334;
            "
          >
            비밀번호 재설정 링크는 1시간 동안 유효합니다.
          </p>
        </div>
      </div>
    </div>

    <div
      style="
        padding: 32px;
        text-align: center;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.015em;
        background: #fafafb;
      "
    >
      <div style="margin: 0 0 20px; text-align: center">
        <table
          cellspacing="0"
          style="
            margin: 0 auto;
            border: 0;
            border-collapse: collapse;
            padding: 0;
          "
        >
          <tbody>
            <tr>
              <td style="width: 40px; padding: 0 6px">
                <a
                  href="http://email.tumblbug.com/ls/click?upn=u001.piVORr-2BvbSE0TGBZ9RTx6QSizsjprBaGEkAABKviVQwVaCpkJV6VZpoXmVbNZTtFczXg_JPZAUhqcxW2Cl9-2B9ZxnYuEGwyFEpLXqeveo3e5dk2WkH5q-2Fd-2FNpO-2FmJntiPpdI-2BhjsvX9sJHTnzytLhtvEMMNGEkNkjPGaoN9oHeHsEVLTF2zMnsMoov5p0dvcP-2Bc0Ei3lqwA-2F5A5NrBT-2FGAWBI-2B57chQQBuDdvHbltpY8WJJFx-2BXLVFcSY-2B42ESNAMkfzKOLKKYvAS91z2V-2B-2BWJ3zT-2Bm0Ae6MtFMUMug6rNbPfskMLrEixPVb-2Ft5-2FI0GuN2zbkzI5jGTi7pHmz49o6qG3unexgtBi2yq-2Fz7CyJfCdvfBfM4N-2BKxIxmjQGHzQ6XF2MT1tmqp-2FGMNl0-2BlXfGivbp-2FxdZCTUT9tZvRpA3mtMchIsCndwAuXhFY8mfMf8H5Lpl1"
                  target="_blank"
                  style="display: block"
                  rel="noreferrer noopener"
                >
                  <img
                    src="https://steadio-asset.s3.ap-northeast-2.amazonaws.com/static/images/email-template/kakao.png"
                    alt="스테디오 미디어 채널:카카오"
                    style="display: block; width: 100%"
                    loading="lazy"
                  />
                </a>
              </td>
              <td style="width: 40px; padding: 0 6px">
                <a
                  href="http://email.tumblbug.com/ls/click?upn=u001.Bb7Js1xj0cC0mvKn9o9Xzg3masJae9R-2Fhtz-2FzUcgz5lFdPkBKDVVnCB8lfu9rtdUN3sQ_JPZAUhqcxW2Cl9-2B9ZxnYuEGwyFEpLXqeveo3e5dk2WkH5q-2Fd-2FNpO-2FmJntiPpdI-2BhjsvX9sJHTnzytLhtvEMMNGEkNkjPGaoN9oHeHsEVLTF2zMnsMoov5p0dvcP-2Bc0Ei3lqwA-2F5A5NrBT-2FGAWBI-2B57chQQBuDdvHbltpY8WJJFx-2BXLVFcSY-2B42ESNAMkfzKO5-2FF1uE4WCN5qSIY-2BGDJH4FwA6jyTt6L-2BkHP3W3WW-2BnaJhO1NeIvLBW-2B-2F3aVfPCEZfrZSWi-2Bjb7EBJUj0PxGn9QYRY3DXBir4npxNBJDptdzkMMKSo3EDovQhkmvhm0-2BNY182iHDigVs11-2F8HHDaxGhbnGGp73oGGw7pdaE48tvk0QJPaoRpJ8wHpojqM7tAC"
                  target="_blank"
                  style="display: block"
                  rel="noreferrer noopener"
                >
                  <img
                    src="https://steadio-asset.s3.ap-northeast-2.amazonaws.com/static/images/email-template/twitter.png"
                    alt="스테디오 미디어 채널:트위터"
                    style="display: block; width: 100%"
                    loading="lazy"
                  />
                </a>
              </td>
              <td style="width: 40px; padding: 0 6px">
                <a
                  href="http://email.tumblbug.com/ls/click?upn=u001.navoywN1HbkLZLwkDn99Buj4nvinoTH-2Flli6Zs4n4ejqCDb0CybDzUkbGDt4OBMF02kF_JPZAUhqcxW2Cl9-2B9ZxnYuEGwyFEpLXqeveo3e5dk2WkH5q-2Fd-2FNpO-2FmJntiPpdI-2BhjsvX9sJHTnzytLhtvEMMNGEkNkjPGaoN9oHeHsEVLTF2zMnsMoov5p0dvcP-2Bc0Ei3lqwA-2F5A5NrBT-2FGAWBI-2B57chQQBuDdvHbltpY8WJJFx-2BXLVFcSY-2B42ESNAMkfzKOZlI-2FSag3n4BUnR2QVu1ZbeYPpho2GwyalvbwMz2JeOyyGW7JwQuIGb7P7dLT05aHosZCO-2BdI9bak7ItY49ad8iIHJYnpmfj-2Bbt-2Bw-2F8jHKmsl8DeHa-2FjDN9s5G3AEDAuO2aG38L-2BkhU61mtsHDQ9rLJY2rh4LpAoQYcSFFMbtXsaAa9bM-2BvG3O-2Bypsg9YPTwy"
                  target="_blank"
                  style="display: block"
                  rel="noreferrer noopener"
                >
                  <img
                    src="https://steadio-asset.s3.ap-northeast-2.amazonaws.com/static/images/email-template/insta.png"
                    alt="스테디오 미디어 채널:인스타그램"
                    style="display: block; width: 100%"
                    loading="lazy"
                  />
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="margin: 24px 0 0">
        <p
          style="
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #8a8a8b;
          "
        >
          주식회사 백패커<br />
          서울특별시 서초구 서초대로 398, 20층(서초동, BNK디지털타워)
        </p>
      </div>

      <div style="margin: 16px 0 0">
        <a
          style="display: block; text-align: center"
          href="http://email.tumblbug.com/ls/click?upn=u001.oRvOXENzh52SUFv4TGbV6PdhOITNoqh4HO-2FTOK-2BR9-2Bo-3DltXF_JPZAUhqcxW2Cl9-2B9ZxnYuEGwyFEpLXqeveo3e5dk2WkH5q-2Fd-2FNpO-2FmJntiPpdI-2BhjsvX9sJHTnzytLhtvEMMNGEkNkjPGaoN9oHeHsEVLTF2zMnsMoov5p0dvcP-2Bc0Ei3lqwA-2F5A5NrBT-2FGAWBI-2B57chQQBuDdvHbltpY8WJJFx-2BXLVFcSY-2B42ESNAMkfzKOtRBSiXX9yOnkpwS-2FHvnI5606zIr3Xyu0e-2B-2FoiG4duHp-2Fd3Ma0Ie2-2F5a7ab-2FIn8r9Pc1hY9rTDbRn0-2BkP5U0ZW3VoBwuaGbGYJ7TkGg6qediDDhLMI-2B8YX7bOZPJRDq7I0TPcC5y4rCJLUaunYxgCiirUxP1j8vqOyQwKgEWP5ck6mGWN1vr4tX9cYmJpF-2FQo"
          target="_blank"
          rel="noreferrer noopener"
        >
          <img
            src="https://steadio-asset.s3.ap-northeast-2.amazonaws.com/static/images/email-template/footer-logo.png"
            alt="steadio"
            style="width: 96px; margin: 0; border: 0"
            loading="lazy"
          />
        </a>
      </div>
    </div>
  </div>
  <img
    src="http://email.tumblbug.com/wf/open?upn=u001.9hgtTC6Hao5wJJC2b2PEyBjY8SBn4Ur9vobLur4tP0183SP-2F9r7PA6pUgEpMDrwI3rKs0wtgi-2FbIGjZjvpczkVTRxXHBj9-2Fw3LLHTVilZXevbhNsyrYFCa3x6PcXjC3434r7X-2B9A2qH-2BXg9D-2BOG6C33UmkXkc2tYOHmoy4moSNpKTcaJcMIrIqyn5vfdVQXZqdf19PoBqFOBtx0sIHLwG7Dbj0ylZqxGGOVLaf-2B0VFQS65vMoozRrVQNmNlg9OHU770yCYK-2FEMpdfnOcxO-2B8y7kffzeH-2FCCqjgABiAoUHxAertnTrnq2jxjl6SD6lfECBejcM5-2BqIYKGbVqVm9eVLEulnMtJyg-2Fmwl5aPo1dLnv29-2FejpilXv-2Fz8MTnID3U6FvgzkkVnYuV9KQXg9Mgewg-3D-3D"
    alt=""
    width="1"
    height="1"
    border="0"
    style="
      height: 1px !important;
      width: 1px !important;
      border-width: 0 !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      padding-right: 0 !important;
      padding-left: 0 !important;
    "
    loading="lazy"
  />
</div>
